.checkout__ad {
  margin: 0 auto -300px auto;
  mask-image: linear-gradient(
    to bottom,
    var(--bg-dark-box-shadow),
    var(--bg-light-box-shadow)
  );
  width: 100%;
}

.checkoutProduct {
  display: flex;
}

.checkoutProduct__image {
  height: 180px;
  object-fit: contain;
  width: 180px;
}

.checkout__items {
  background-color: var(--primary-white);
  z-index: 999;
}

.checkoutProduct__info {
  padding: 20px;
}

.checkoutProduct__info > button {
  border: 1px solid;
  background: var(--bg-yellow);
  border-color: var(--bg-pale-yellow-text) var(--bg-medium-yellow-text)
    var(--bg-dark-yellow-text);
  cursor: pointer;
  color: var(--primary-black);
  margin-top: 10px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 20px;
  font-weight: 800;
}
