:root {
  --primary-white: #ffffff;
  --primary-black: #121212;

  --bg-dark-black: #131921;
  --bg-dark-yellow: #cd9042;
  --bg-yellow: #f0c14b;
  --bg-pale-yellow-text: #a88734;
  --bg-dark-yellow-text: #846a29;
  --bg-medium-yellow-text: #9c7e31;
  --bg-light-grey: rgba(234, 237, 237);
  --bg-dark-box-shadow: rgba(0, 0, 0, 1);
  --bg-light-box-shadow: rgba(0, 0, 0, 0);
  --bg-box-shadow: rgba(0, 0, 0, 0.34);

  --bg-grey-tile: #2e2e2e;
  --bg-dark-grey-tile: #181818;
  --bg-input-box-error: #4c2d2d;
  --bg-selection-blue: #1e90ff;

  --bright-red-border: #c10b00;
  --light-blue-border: #00c0f1;

  --bright-yellow-text: #fff461;
  --pale-yellow-text: #ffe5b4;
}
