:root {
  --primary-white: #ffffff;
  --primary-black: #121212;

  --bg-dark-black: #131921;
  --bg-box-shadow: rgba(0, 0, 0, 0.34);

  --bg-grey-tile: #2e2e2e;
  --bg-dark-grey-tile: #181818;
  --bg-input-box-error: #4c2d2d;
  --bg-selection-blue: #1e90ff;

  --bright-red-border: #c10b00;
  --light-blue-border: #00c0f1;

  --bright-yellow-text: #fff461;
  --pale-yellow-text: #ffe5b4;
}
